__pycache__/
.pyest_cache/
vprtempo/__pycache__/
vprtempo/dataset/fall/
vprtempo/dataset/spring/
vprtempo/dataset/summer/
vprtempo/dataset/winter/
vprtempo/dataset/event.csv
vprtempo/output/
vprtempo/src/__pycache__/
vprtempo/models/springfall_VPRTempo_IN3136_FN6272_DB500.pth
vprtempo/models/springfall_VPRTempoQuant_IN3136_FN6272_DB500.pth
tutorials/mats/1_BasicDemo/
