__pycache__/
.ipynb_checkpoints/
src/__pycache__/
dataset/conv/
dataset/Dusk/
dataset/fall/
dataset/model/
dataset/output_database/
dataset/output_query/
dataset/Rain/
dataset/spring/
dataset/summer/
dataset/Sun/
dataset/winter/
dataset/event.csv/
models/VPRTempo78415685001.pth
models/VPRTempoQuant78415685001.pth
VPRTempo.egg-info/
